version: '3'
services:
  router1:
    container_name: router1
    hostname: router1
    build:
      context: .
    tty: true
    networks:
      net1:
        ipv4_address: 192.168.57.11
      net4:
        ipv4_address: 192.168.60.11
    volumes:
        - ./shared/common:/shared/common
        - ./shared/router1_data:/shared/unique

  router2:
    container_name: router2
    hostname: router2
    build:
      context: .
    tty: true
    networks:
      net1:
        ipv4_address: 192.168.57.12
      net2:
        ipv4_address: 192.168.58.12
    volumes:
        - ./shared/common:/shared/common
        - ./shared/router2_data:/shared/unique

  router3:
    container_name: router3
    hostname: router3
    build:
      context: .
    tty: true
    networks:
      net2:
        ipv4_address: 192.168.58.13
      net3:
        ipv4_address: 192.168.59.13
    volumes:
        - ./shared/common:/shared/common
        - ./shared/router3_data:/shared/unique

  router4:
    container_name: router4
    hostname: router4
    build:
      context: .
    tty: true
    networks:
      net3:
        ipv4_address: 192.168.59.14
      net4:
        ipv4_address: 192.168.60.14
    volumes:
        - ./shared/common:/shared/common
        - ./shared/router4_data:/shared/unique

  router5:
    container_name: router5
    hostname: router5
    build:
      context: .
    tty: true
    networks:
      net3:
        ipv4_address: 192.168.59.15
      net5:
        ipv4_address: 192.168.61.15
    volumes:
        - ./shared/common:/shared/common
        - ./shared/router5_data:/shared/unique

networks:
  net1:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.57.0/24

  net2:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.58.0/24

  net3:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.59.0/24

  net4:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.60.0/24

  net5:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.61.0/24
